*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: whitesmoke;
	box-sizing: border-box; /*elementi će računati svoju širinu i visinu tako da bude ukljucen sadržaj, padding i border */
    }

    h1{
    text-align:left;
    }
    .misija{
        color: rgb(161, 38, 145);
    }
    .lokacije{

        left:10px;
    }


     .slike1 {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    
    .slike1 img {
        max-width: 100%;
        max-height: 375px; 
        width: auto; 
        object-fit: contain; /* Održava proporcije i centriranje slike */
    }

.upravaSlike{
    display: flex;
    justify-content: space-between; /* Razmak između slika ravnomerno raspoređen */
    padding: 0 300px; 
}

    #forma01{
       background-color: rgb(71, 18, 63);
       text-align:center;
       color: whitesmoke;
       padding: 3%;
       margin: 3%;
    }

    #forma01 h2,
    #forma01 label{
  background-color: rgb(71, 18, 63);
  color: whitesmoke;
  display: inline-block;
  margin: 0;
  padding: 0.5em;
}

    #vrati{
        color: white;
    }


ol li {
    font-style: italic;
}

#info{
    padding-top: 50px
}

.odgovor {
    display: none;
    color: rgb(161, 38, 145); 
    font-style: italic;
  }

 /*-------------------------meni------------------------------  */
 .meni{
  display:flex;
  color:white;
  height:4em;
  font-family:sans-serif;
  position:sticky;
  top:0;
  }
  .meni>ul{
  padding:0;
  margin:0;
  display:flex;
  flex:4;
  align-items:center;
  }
  .meni>ul>li{
  margin:0;
  height:4em;
  display:flex;
  align-items:center;
  padding: 0 3em;
  }

  #FGNEON{
  display:flex;
  align-items:center;
  color:rgb(161, 38, 145);
  font-size:2em;
  margin: 0 0.5em;
}

  .meni>ul>li:hover,
  .meni>ul>li:hover>a {
      background-color:rgb(71, 18, 63);
  }

  .meni>ul>li>a {
      text-decoration: none;
  }

  .meni>ul>li>a:hover {
      transition: background-color 0.5s;
    }
    
   @media (min-width: 768px) and (max-width: 1023px) {
      #FGNEON {
          font-size: 1.7em;
          margin: 0 0em;
      }
  }
/* .......................burger meni na mobilnom uredjaju........................... */

@media screen and (max-width: 768px) {
	.hamburger {
		display: inline-block;
		cursor: pointer;
	}

	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: rgb(255, 255, 255);
		margin: 6px 0;
		transition: 0.4s;
	}

	/* Rotira prvu liniju */
	.change .bar1 {
		transform: translate(0, 11px) rotate(-45deg);
	}

	/* Nestaje druga linija  */
	.change .bar2 {
		opacity: 0;
	}

	/* Rotira poslednju liniju  */
	.change .bar3 {
		transform: translate(0, -11px) rotate(45deg);
	}

	.meni {
		overflow: hidden;
		position: sticky;
		height: auto;
	}
		/* Da se sakriju stavke menija   */

		.meni > ul > li {
			display: none;
			width: 100%;
		}

	#FGNEON {
		font-size: 1.7em;
		margin: 0 0em;
	}

	.meni > ul {
		flex-direction: column;
	}
}
/* .......................kraj burger menija........................... */
/* ............................podesavanja za footer...................................... */
.container{
	max-width: 1170px;
	margin:auto;
}
.footer-red{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none; /* uklanja "tackice" sa stavki liste*/
}
.footer{
	background-color: #292b30;
    padding: 70px 0;
}
.footer-kol{
   width: 25%;
   padding: 0 15px;
}
.footer-kol h4{
	font-size: 18px;
	color: #ffffff;
    margin-top: 20px;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
 .footer-kol h4::before{  /*namesta ljubicastu liniju ispod naslova u footeru */
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color:rgb(161, 38, 145);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-kol ul li:not(:last-child){
	margin-bottom: 15px; /*primeniće marginu od 10px na donji deo svakog takvog <li> elementa,ali samo na one <li> elemente koji nisu posledje dete unutar svojih <ul> roditelja*/
}
.footer-kol ul li a{
	font-size: 16px;
    color: #bbbbbb; 
	text-decoration: none; /*uklanja podvlacenje teksta */
	font-weight: 300; /*"tanji" font teksta */
	transition: all 0.3s ease;  /* tranzicija, postepena promena u 0.3 sekunde.*/
}
 .footer-kol ul li a:hover{ /*ovim omogucavamo da tekst "iskoci" i "pobeli" kada predjemo misem preko njega */
	color: #ffffff;
	padding-left: 8px;
}
@media screen and (max-width: 768px) {
    .footer-kol{
        width: 50%;
        margin-bottom: 30px;
    }
}
  
      @media(max-width: 574px){
        .footer-kol{
          width: 100%;
      }
      }

/* ............................kraj podesavanja za footer...................................... */

      @media screen and (max-width: 767px) {
        
          .upravaSlike {
            flex-direction: column; 
            align-items: center; 
            padding: 10px 10px;
        }
    
        .upravaSlike img {
            max-width: 80%;
            height: auto;
            margin: 5px;
        }
        
        .slike1 {
            flex-direction: column; 
            align-items: center; 
        }
    
        .slike1 img {
            max-width: 80%;
            margin: 5px;
        }

    }
    @media (min-width: 768px) and (max-width: 1025px) {
       
        .upravaSlike {
            flex-direction: row; 
            align-items: flex-start; 
            padding: 10px; 
        }
        .upravaSlike img {
            max-width: 80%; 
            margin-bottom: 10px; 
        }

        .slike1 {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            max-width: 100%;
            overflow: auto;
        }
        .slike1 img {
            flex: 1;
            height: auto;
            margin-right: 5px;
            object-fit: contain;
            max-height: 375px;
            max-width: 33.33%;
           
        }
    }
    @media (min-width: 1025px) and (max-width: 1450px) {
        .slike1 {
            display: flex;
            justify-content: center; /* Centriranje slika po horizontali */
            align-items: center; /* Centriranje slika po vertikali */
            max-width: 100%;
            overflow: auto;
        }
        
        .slike1 img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }